#atcontainer {
	background-color: tomato; /* protip: remove this */
	display: -ms-flexbox;
	display: -webkit-flex; 
	display:flex; 
	-webkit-flex-flow:column-reverse wrap; 
	flex-flow:column-reverse wrap;
}

at {
	line-height:normal; 
	-webkit-flex:0;
	flex:0;
	border-top: 2px solid #439880;
	background-color: #61cac5;
	overflow-y:auto;
	overflow-x:hidden;
	text-overflow: ellipsis; 
	white-space: nowrap;
}

at name {
	font-size:1.4em;
	color:white;
}

at time {
	display:inline;
	color: #397774;
}

at state {
	color: #397774;
}